{{#title-bar}}
  <a href="#/" class="btn btn-link btn-nav pull-left">
    <span class="icon icon-left-nav"></span>
    Back
  </a>
  <h1 class="title">Custom title bar</h1>
{{/title-bar}}

<p class="content-padded">
  This page used the <i>title-bar</i> helper to replace the content of the
  title bar.
</p>
