<div class="snap-drawer snap-drawer-left" id="left-drawer">
  <ul class="list">
    <h2>Snap.js</h2>
    <li class="list-divider">Demos</li>
    <li><a href="../default.html" data-ignore="push">Default</a></li>
    <li><a href="../noDrag.html" data-ignore="push">No Drag</a></li>
    <li><a href="../rightDisabled.html" data-ignore="push">Right Disabled</a></li>
    <li><a href="../skinnyThreshold.html" data-ignore="push">Skinny Threshold</a></li>
    <li><a href="../toggles.html" data-ignore="push">Toggles</a></li>
    <li><a href="../classNames.html" data-ignore="push">Class Names</a></li>
    <li><a href="../expand.html" data-ignore="push">Expanding</a></li>
    <li><a href="../settings.html" data-ignore="push">Settings</a></li>
    <li><a href="template.html" data-ignore="push">Ratchet</a></li>
  </ul>
</div>
<div class="snap-drawer snap-drawer-right" id="right-drawer">
  <ul class="list">
    <li>List item 1 <span class="chevron"></span></li>
    <li>List item 2 <span class="chevron"></span></li>
    <li>List item 3 <span class="chevron"></span></li>
    <li>List item 4 <span class="chevron"></span></li>
  </ul>
</div>
