<p class="content-padded">
  Thanks for checking out the Ratchet &amp; Ember sample.
</p>

<ul class="table-view">
  <li class="table-view-cell">
    <a href="#/custom-header" class="navigate-right">
      Page with custom header
    </a>
  </li>
  <li class="table-view-cell">
    <a href="#/sub-header" class="navigate-right">
      Page with sub-header
    </a>
  </li>
  <li class="table-view-cell">
    <a href="#/tab-bar" class="navigate-right">
      Tab bar
    </a>
  </li>
  <li class="table-view-cell">
    <a href="#/standard-bars" class="navigate-right">
      Standard bars
    </a>
  </li>
  <li class="table-view-cell">
    <a href="#/modal" class="navigate-right">
      Custom modal
    </a>
  </li>
</ul>
