{{#title-bar}}
  <a href="#/" class="btn btn-link btn-nav pull-left">
    <span class="icon icon-left-nav"></span>
    Back
  </a>
  <h1 class="title">Custom sub-header too</h1>
{{/title-bar}}

<nav class="bar bar-standard bar-header-secondary">
  <button class="btn btn-block">Block level button</button>
</nav>

<p class="content-padded">
  This page used the <i>title-bar</i> helper to replace the content of the
  title bar.
</p>
